<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="localvm" connectionString="Data Source=COLOVM\\SQLEXPRESS;Initial Catalog=subibaje;Integrated Security=True;Pooling=False"
        providerName="System.Data.SqlClient" />
    </connectionStrings>
  
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <pages>
            <controls>
                <add tagPrefix="mc" namespace="subibaja.Controles"/>
            </controls>
        </pages>
    </system.web>

</configuration>
